body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
    background-color: #f70656
}

#headerlogo {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
}

h1 {
  display: inline-block;
  padding-bottom: 20px;
  color: whitesmoke;
}

header {
  background: linear-gradient(to left, black, gray);
  height: 75px;
}


#main {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.bookCardsElement {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: white;
  /* padding: 10px;
    border-radius: 3px;
    border: solid 2px black;
    align-items: center; */
  /* margin: 10px; */
}

.bookcard {
  border: 2px solid black;
  display: inline-block;
  margin: 2px;
  padding: 20px;
  box-shadow: 0 0 30px #ccc;
  text-align: left;
  transition: box-shadow 0.5s ease-in-out;
}

.bookcard h2 {
  font-size: 18px;
  font-weight: bold;
}

.bookcard h3 {
  font-size: 15px;
}

.bookcard:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


.bookcard img {
  max-width: 100px;
  max-height: 150px;
  margin: 0 auto;
}

/* Styling for form */

#form-container {
  margin: -108px 200px 50px;
  padding: 25px;
  box-sizing: border-box;
}

form {
  border: 5px solid black;
  width: 450px;
  height: 175px;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 50px 0 75px;
}

form:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

form input {
  margin: 1px 1px;
  outline: none;
  border: 1px solid #6665ee;
}

form input.box {
  width: 290px;
  height: 15px;
  font-size: 1.2 rem;
  padding: 5px -2px;
  margin: 1px 1px;
}

form input.button {
  font-size: 1rem;
  padding: 12px 20px;
  background-color: gray;
  color: #ffff;
  font-weight: 500;
  cursor: pointer;
  outline: none
}

#new-book-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
}



#new-book-form input[type="submit"] {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
}

#new-book-form input[type="submit"]:hover {
  transform: scale(1.1);
}
